# Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [ ]:
# Your code here
print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [ ]:
# Your code here
user_input = input("Enter a message: ")
print("You entered:", user_input)

Enter a message: 5
You entered: 5

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [ ]:
# Your code here
num = int(input("Enter a number: "))
if num>0:
  print("Positive")
elif num<0:
  print("Negative")
else:
  print("Zero")

Enter a number: 5
Positive

**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
# Your code here
num1 = 10
num2 = 3
num3= 11
largest = max(num1, num2, num3)
print("The largest number is:", largest)

The largest number is: 11

**Question 5:** Write a Python program to calculate the factorial of a number.

In [ ]:
# Your code here
def fac(n):
  if n==0 or n==1:
    return 1
  return fac(n-1)*n

print(fac(5))

120

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [ ]:
# Your code here
integer_var = 42
float_var = 3.14
string_var = "Hello, World!"
boolean_var = True
print(f"Integer: {integer_var} Type: {type(integer_var)}")
print(f"Float: {float_var} Type: {type(float_var)}")
print(f"String: {string_var} Type: {type(string_var)}")
print(f"Boolean: {boolean_var} Type: {type(boolean_var)}")

Integer: 42 Type: <class 'int'>
Float: 3.14 Type: <class 'float'>
String: Hello, World! Type: <class 'str'>
Boolean: True Type: <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [ ]:
# Your code here
a = 10
b = 20
temp = a
a = b
b = temp
print("After swapping:")
print("a =", a)
print("b =", b)

After swapping:
a = 20
b = 10

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
# Your code here
cel = 30
far = (cel*9/5)+32
print(f"Celsius: {cel} | Fahrenheit: {far}")

Celsius: 30 | Fahrenheit: 86.0

**Question 9:** Write a Python program to concatenate two strings.

In [ ]:
# Your code here
str1 = "Mohan"
str2 = "Vamsi"
print(str1+str2)

MohanVamsi

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [ ]:
# Your code here
a = 'vamsi'
b = 45
c = 99.9
d = True
print(type(a)==str)
print(type(a))
print(type(b)==int)
print(type(b))
print(type(c)==float)
print(type(c))
print(type(d)==bool)
print(type(d))

False
<class 'str'>
True
<class 'int'>
True
<class 'float'>
True
<class 'bool'>

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [ ]:
# Your code here
a = 10
b = 5
print(f"Addition: {a+b}")
print(f"Subtraction: {a-b}")
print(f"Multiplication: {a*b}")
print(f"Division: {a/b}")

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [ ]:
# Your code here
a = 10
b = 5
print(f"Equal to: {a==b}")
print(f"Not equal to: {a!=b}")
print(f"Greater than: {a>b}")
print(f"Less than: {a<b}")

Equal to: False
Not equal to: True
Greater than: True
Less than: False

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [ ]:
# Your code here
print(True and False)
print(True or False)
print(not True)

False
True
False

**Question 14:** Write a Python program to calculate the square of a number.

In [ ]:
# Your code here
a = 10
print(a**2)

100

**Question 15:** Write a Python program to check if a number is even or odd.

In [ ]:
# Your code here
a = 10
if a%2==0:
  print("Even")
else:
  print("Odd")

Even

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [ ]:
# Your code here
a = int(input("Enter a number: "))
sum = 0
for i in range(1, a+1):
  sum+=i
print(sum)
print(int(a*(a+1)/2))

Enter a number: 10
55
55

**Question 17:** Write a Python program to check if a year is a leap year.

In [ ]:
# Your code here
yr = int(input("Enter a year: "))
if(yr%4==0):
  if(yr%100==0):
    if(yr%400==0):
      print("Leap year")
    else:
      print("Not a leap year")
  else:
    print("Leap year")
else:
  print("Not a leap year")

Enter a year: 2024
Leap year

**Question 18:** Write a Python program to reverse a string.

In [ ]:
# Your code here
str = "Mohan"
print((str[::-1]).lower())

nahom

**Question 19:** Write a Python program to check if a string is a palindrome.

In [ ]:
# Your code here
str = "Madam"
if(str.lower()==str[::-1].lower()):
  print("Palindrome")
else:
  print("Not a palindrome")

Palindrome

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [ ]:
# Your code here
l = [10,2,4,5,2,3,22]
l.sort()
print(l)

[2, 2, 3, 4, 5, 10, 22]

In [ ]:
for i in range(5):
  for j in range(i):
    print(i, end=' ')
  print('')

1
2 2
3 3 3
4 4 4 4

In [ ]:
for i in range(1,5+1):
  for j in range(1,i+1):
    print(j, end=' ')
  print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
b=0
for i in range(5,0,-1):
  b += 1
  for j in range(1,i+1):
    print(b, end=' ')
  print('')

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
for i in range(5,0,-1):
  for j in range(i):
    print(5, end=' ')
  print('')

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5