# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [ ]:
# assignment 1
ls = []
for i in range(1,21):
  ls.append(i)
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# assignment 2
print(f'First: {ls[0]} Middle: {ls[20//2]} Last: {ls[-1]}')

First: 1 Middle: 11 Last: 20

In [ ]:
# assignment 3
print(ls[:5])
print(ls[-5:])
print(ls[5:16])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
# assignment 4
a = [i*i for i in range(1,11)]

print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# assignment 5
ev = [i for i in ls if i%2==0]
print(ev)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# assignment 6
random_list = [1,2,4,1,3,6,2,5]
random_list.sort()
print(random_list)
random_list.sort(reverse=True)
print(random_list)
random_list = list(set(random_list))
print(random_list)

[1, 1, 2, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 2, 1, 1]
[1, 2, 3, 4, 5, 6]

In [ ]:
# assignment 7
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix)
print(matrix[2][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
8

In [ ]:
# assignment 8
stud = [{'name':'vamsi','score':88},
        {'name':'mohan','score':40},
        {'name':'ravi','score':60},
        {'name':'sai','score':70}]
x = sorted(stud, key=lambda a: a['score'],reverse=True)
print(x)

[{'name': 'vamsi', 'score': 88}, {'name': 'sai', 'score': 70}, {'name': 'ravi', 'score': 60}, {'name': 'mohan', 'score': 40}]

In [11]:
# assignment 9
def trans(mat):
  tran = []
  for i in range(3):
    r = []
    for j in range(3):
      r.append(mat[j][i])
    tran.append(r)
  return tran

mat = []
for i in range(3):
  row = []
  for j in range(3):
    a = int(input("Enter: "))
    row.append(a)
  mat.append(row)
for i in mat:
  print(i)
print('-'*5,'transpose','-'*5)
transpose = trans(mat)
for i in transpose:
  print(i)

Enter: 1
Enter: 2
Enter: 3
Enter: 4
Enter: 5
Enter: 6
Enter: 7
Enter: 8
Enter: 9
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
----- transpose -----
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [12]:
from re import S
# assignment 10
nested = [[1,2,3],[4,5,6],[7,8]]
def single(nested):
  sgl_ls = []
  for i in nested:
    sgl_ls.extend(i)
  return sgl_ls
print(single(nested))

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
# assignment 11
ass11 = [1,2,3,4,5,6,7,8,9,10]
ass11.remove(ass11[2])
ass11.remove(ass11[4])
ass11.remove(ass11[6])
ass11.insert(5,99)
print(ass11)

[1, 2, 4, 5, 7, 99, 8, 10]

In [15]:
# assignment 12
l1 = [1,2,3,4]
l2 = [5,6,7,8]
com = zip(l1,l2)
print(list(com))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [19]:
# assignment 13
ass13 = list(range(1,11))
def rev(ass13):
  reversed = ass13[::-1]
  print(reversed)
rev(ass13)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
# assignment 14
n = int(input('Enter: '))
rotated = ass13[n:] + ass13[:n]
print(rotated)

Enter: 2
[3, 4, 5, 6, 7, 8, 9, 10, 1, 2]

In [25]:
# assignment 15
list1 = [1,2,3,4,7]
list2 = [2,4,7,6,5]
def intersect(list1,list2):
  inter = list(set(list1)&set(list2))
  return inter
print(intersect(list1,list2))

[2, 4, 7]