# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
# assignment 1
tup = tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# assignment 2
print(tup[0])
print(tup[len(tup)//2])
print(tup[-1])

1
6
10

In [4]:
# assignment 3
print(tup[:3])
print(tup[-3:])
print(tup[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [5]:
# assignment 4
matrix = ((1,2,3),(4,5,6),(7,8,9))
for i in matrix:
    print(i)
print(matrix[2][1])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
8

In [6]:
# assignment 5
tup1 = (1,2,3)
tup2 = (4,5,6)
print(tup1 + tup2)

(1, 2, 3, 4, 5, 6)

In [7]:
# assignment 6
ass6 = (1,2,3,4,1,2,1,1,6)
print(ass6.count(1))
print(ass6.index(1))

4
0

In [9]:
# assignment 7
ass7 = (1,2,3,4,5)
a,b,c,d,e = ass7
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [10]:
# assignment 8
ls = list(range(1,6))
ass8 = tuple(ls)
print(ass8)

(1, 2, 3, 4, 5)

In [11]:
# assignment 9
ass9 = ((10,20,30),(40,50,60),(70,80,90))
for i in ass9:
    print(i)

(10, 20, 30)
(40, 50, 60)
(70, 80, 90)

In [12]:
# assignment 10
ass10 = (1,2,3,4,5)
lsa = list(ass10)
lsa.append(6)
ass10 = tuple(lsa)
print(ass10)

(1, 2, 3, 4, 5, 6)

In [14]:
# assignment 11
strin = 'vamsi'
ass11 = tuple(strin)
string1 = ''.join(ass11)
print(ass11)
print(string1)

('v', 'a', 'm', 's', 'i')
vamsi

In [19]:
# assignment 12
ass12 = { ('a','b','c'): 45,
         ('d','e','f'): 60,
         ('g','h','i'):80}
print(ass12)
for i,j in ass12.items():
    print(i,j)

{('a', 'b', 'c'): 45, ('d', 'e', 'f'): 60, ('g', 'h', 'i'): 80}
('a', 'b', 'c') 45
('d', 'e', 'f') 60
('g', 'h', 'i') 80

In [21]:
# assignment 13
ass13 = ((1,2,3),(4,5,6),(7,8,9))
for i in ass13:
    for j in i:
        print(j,end=' ')
    print('')

1 2 3
4 5 6
7 8 9

In [22]:
# assignment 14
ass14 = (1,2,1,4,3,2,5,1,4)
s = set(ass14)
ass14 = tuple(s)
print(ass14)

(1, 2, 3, 4, 5)

In [25]:
# assignment 15
ass15 = (1,23,3,44,5,56,4)
def tup15(ass15):
    print('Min: ', min(ass15))
    print('Max: ', max(ass15))
    print('Sum: ', sum(ass15))

tup15(ass15)

Min:  1
Max:  56
Sum:  136