# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [1]:
# assignment 1
squares = {i: i**2 for i in range(1, 11)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [2]:
# assignment 2
print(squares[5])
print(squares.keys())

25
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [4]:
# assignment 3
squares[11] = 121
del squares[1]
print(squares)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [5]:
# assignment 4
for key, value in squares.items():
    print(key, value)

2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121

In [6]:
# assignment 5
ass5 = {i: i**3 for i in range(1, 11)}
print(ass5)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [7]:
# assignment 6
ass6_1 = {i: i**2 for i in range(1,6)}
ass6_2 = {i: i**2 for i in range(6,11)}
merged_dict = {**ass6_1, **ass6_2}
print(merged_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [10]:
# assignment 7
ass7 = {'name':'vamsi','age':21,'grade':{'maths':90,'science':80,'social':60} }
for i,j in ass7.items():
  print(i,':',j)

name : vamsi
age : 21
grade : {'maths': 90, 'science': 80, 'social': 60}

In [11]:
# assignment 8
ass8 = {i :[i*j for j in range(1,6)]for i in range(1,6)}
print(ass8)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [12]:
# assignment 9
ass8 = {i :(i, i**2)for i in range(1,6)}
print(ass8)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [13]:
# assignment 10
ass10 = {i:i**2 for i in range(1,6)}
print(list(ass10.items()))

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [16]:
# assignment 11
ass11 = {i:i**2 for i in range(1,11)}
print(ass11)
ass11_even = {i:j for i,j in ass11.items() if j%2==0}
print(ass11_even)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [18]:
# assignment 12
ass12 = {j:i for i,j in ass11.items()}
print(ass12)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5, 36: 6, 49: 7, 64: 8, 81: 9, 100: 10}

In [19]:
# assignment 13
from collections import defaultdict
my_dict = defaultdict(list)
my_dict['fruits'].append('apple')
my_dict['fruits'].append('banana')
my_dict['vegetables'].append('carrot')

print(my_dict)

defaultdict(<class 'list'>, {'fruits': ['apple', 'banana'], 'vegetables': ['carrot']})

In [24]:
# assignment 14
ass14 = input("Enter a string: ")
def charcount(ass14):
  ass14_dict = {i : ass14.count(i)  for i in ass14}
  return ass14_dict
print(charcount(ass14))

Enter a string: mohan vamsi
{'m': 2, 'o': 1, 'h': 1, 'a': 2, 'n': 1, ' ': 1, 'v': 1, 's': 1, 'i': 1}

In [27]:
# assignment 15
import json
ass15 = {'book':'spiderman',
         'year': 2025,
         'author':'vamsi',
         'genre':'action'}
json_string = json.dumps(ass15,indent=4)
print(json_string)

{
    "book": "spiderman",
    "year": 2025,
    "author": "vamsi",
    "genre": "action"
}